@model MVCTutorial.Models.Products

@{
    ViewBag.Title = "BuyItem";
    Layout = "~/Views/Shared/_PcStoreLayout.cshtml";
}



<h2>BuyItem</h2>
@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<input type="image" src="~/Content/electronix/images/laptop.gif" class="search_bt" />
<html>
<body>

    @using (Html.BeginForm("BuyItem", "CBLogin", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Speed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RAM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HardDisk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Core)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Warrently)
                </th>
                <th></th>
            </tr>
            @*I'v added this box's to save the values when backing to Controller and update the new credits*@
            @Html.TextBoxFor(m => m.ProductId)
            @Html.TextBoxFor(m=>m.Price)

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Speed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.RAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.HardDisk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Core)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Warrently)
                </td>
                @*
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
                    </td>

                *@
            </tr>
            
        </table>

        <br />
        <br />
        if (Convert.ToInt32(Session["Credits"].ToString()) >= Model.Price)
        {
            <p><button style="color:green;">Buy Now</button></p>
        }
        else
        {
            <button style="color:red" disabled>Buy Now</button>
        }

    }
</body>
</html>