@model MVCTutorial.Models.ContactUs

@{
    Layout = "~/Views/Shared/_PcStoreLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <div style="font-size:30px; text-align:center; color:crimson;">ContactUs</div>
            <div style="font-size:17px;color:blueviolet; text-align:center;">Please fill the fields and press Send button, we will back to you as soon as possible!</div>
            <hr />
            <div style="text-align:center;">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @* @Html.DropDownList("UserId", String.Empty)*@
                        @Html.EditorFor(model => model.UserId)
                        @Html.ValidationMessageFor(model => model.UserId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message)
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send" style="font-size:20px;" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    
</body>
</html>
