@model IEnumerable<PcStoreWebsite.Models.Products>

@using PcStoreWebsite.Models;


@*
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ProductId
        </td>
        <td>
            @item.ProductName
        </td>
        <td>
            @item.Speed
        </td>
        <td>
            @item.RAM
        </td>
        <td>
            @item.HardDisk
        </td>
        <td>
            @item.Core
        </td>
        <td>
            @item.Warrently
        </td>
    </tr>
}

*@

@*Here we doing the WebGrid*@

@{ 
    WebGrid obj = new WebGrid(Model);
}
@obj.GetHtml();